body {
  background-color: #FF9F71;
  font-family: 'Open Sans', sans-serif;

}

#container {
  width: 50%;
  margin-left: 25%;
}

#doge {
  width: 30%;
}

#restofmenu {
  text-align: right;
  color: pink;
  background-color: red;
}

 .home-menu {
        text-align: left;
        vertical-align: middle;
}


#menutitle {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  margin: .5em .5em;
  text-align: left;
}

#title {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-align: center;
  margin-top: 30px;
  text-shadow: 2px 2px 0px white;
}

#delivery {
  font-size: 1.5em;
  background-color: white;
  margin-top: 10px;
  /*margin-bottom: 30px;*/
  height: auto;
  padding: 5%;
  width: 80%;
  margin-left: 5%;
  border: 3px solid #cccccc;

}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
}

textarea {
  height: auto;
  font-size: 1.5em;
  width: 80%;
  margin: 10px 0;
  padding: 5%;
  border: 3px solid #cccccc;
  font-family: 'Open Sans', sans-serif;
}

#textbox-container {
  width: 80%;
  margin-left: 5%;
}

.pure-menu a {
  margin: 0;
}
/*
.butan {
  margin: 0 auto;
  width: 80%;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2em;
  color: black;
  background-color: white;
  display: inline;
}
*/

.pure-button {
  width: 50%;
  font-size: 2em;
  margin: 10px 25%;
}

#textbox {
  margin-bottom: 30px;
  width: 100%;
}

.about-box {
  padding: 10px;
  border: 1px solid pink;
}

.about-title {
  text-align: center;
}
