body {
  background-color: #FCF7C5;
  background-image: url('background.png');
  font-family: 'Open Sans', sans-serif;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Open Sans', sans-serif;
}

#container {
  width: 50%;
  margin-left: 25%;
}

#doge {
  width: 30%;
}

#restofmenu {
  text-align: right;
  color: pink;
  background-color: red;
}

 .home-menu {
        text-align: left;
        vertical-align: middle;
}


.mobile-menu {
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 0px white;
  display: none;
  font-size: 2em;
  text-align: center;
}

#menutitle {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  margin: .5em .5em;
  text-align: left;
}

#title {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-align: center;
  margin: 15px 0px;
  text-shadow: 2px 2px 0px white;
}

/*#delivery {*/
  /*font-size: 1.5em;*/
  /*background-color: white;*/
  /*margin-top: 10px;*/
  /*margin-bottom: 30px;*/
  /*height: auto;*/
  /*padding: 5%;*/
  /*width: 80%;*/
  /*margin-left: 5%;*/
  /*border: 3px solid #cccccc;*/

/*}*/

#delivery {
  height: auto;
  font-size: 1.5em;
  width: 100%;
  resize: none;
  padding: 5%;
  outline: none;
  border: 3px solid white;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: gray;
  word-wrap: break-word;
}



.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
}

textarea {
  /*min-heig
  ht: 150px;*/
  height: auto;
  font-size: 1.5em;
  width: 100%;
  resize: none;
  padding: 5%;
  outline: none;
  border: 3px solid white;
  font-family: 'Open Sans', sans-serif;
}

.textbox-container {
  width: 80%;
  margin-left: 5%;
}

.pure-menu a {
  margin: 0;
}
/*
.butan {
  margin: 0 auto;
  width: 80%;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 2em;
  color: black;
  background-color: white;
  display: inline;
}
*/

.button-styles {
  color: red;
}

.pure-button {
  text-align: center;
  width: 80%;
  padding: 0;
  height: 3em;
  min-width: 100px;
  font-size: 2.3em;
  margin: 10px 10%;
  background-color: #0ABFBC;
  border: 3px solid white;
  border-radius: 10px;
}

#textbox {
  margin-bottom: 30px;
  /*width: 100%;*/
}

.about-box {
  margin: 20px;
  padding: 10px;
  border: 1px solid pink
  background-color: white;
}

.about-title {
  text-align: center;
  background-color: white;
  padding: 10px;
  margin: 10px 0px;
}

button p  {
  text-align: center;
  font-size: .5em;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .pure-button {
    height: 2.5em;
    font-size: 2em;
    margin: 2px 10%;
  }
  .pure-menu{
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  #title{
    display:none;
  }
  #delivery {
    margin-bottom: 0;
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    gray;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    gray;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    gray;
}

#splash {
  background-color: white;
  height: auto;
  padding-bottom: 30px;
  text-align: center;
  font-size: 4em;
  border-bottom: 2px solid black;
}

#splash span {
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 0px white;
  font-size: 1em;
  margin-top: 0px;
  text-align: center;
}

#splash p {
  font-size: .4em;
  margin: 0;
  font-style: italic;
}
